# Claude.
.claude/settings.local.json

# General.
.DS_Store
.idea/
Thumbs.db
testdata/t/

# Go.
*.coverprofile
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
/t
coverage.*
go.work
go.work.sum
profile.cov
